AppKit==0.2.8
Foundation==0.1.0a0.dev1
keyboard==0.13.5
Kivy==2.3.0
mttkinter==0.6.1
packaging==24.2
pynput==1.7.7
pyobjc_core==10.2
pyobjc_framework_ApplicationServices==10.2
pyobjc_framework_Cocoa==10.2
pyobjc_framework_ExceptionHandling==10.2
pyobjc_framework_Quartz==10.2
pyperclip==1.8.2
screeninfo==0.8.1
tabulate==0.9.0
tkmacosx==1.0.5
