name: Build

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'Build name'
      all_build:
        description: 'Complete build'
        required: true
        default: 'false'
        type: boolean
      run_windows_build:
        description: 'Windows Build'
        required: true
        default: 'false'
        type: boolean
      run_mac_build:
        description: 'MacOS Build'
        required: true
        default: 'false'
        type: boolean
  push:
    branches:
      - master
    paths-ignore:
      - '.github/**'
      - 'dist/**'
      - 'README.md'

run-name: ${{ github.event.inputs.tags }}

jobs:
  build-windows:
    if: contains(github.event.head_commit.message, '#build') || contains(github.event.head_commit.message, '#win') || github.event.inputs.run_windows_build == 'true' || github.event.inputs.all_build == 'true'
    name: Windows Build
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: requirements/Win/requirements.txt

      - name: Install requirements
        run: pip install -r requirements/Win/requirements.txt

      - name: Build with Nuitka
        uses: Nuitka/Nuitka-Action@main
        with:
          script-name: start.py
          mode: standalone
          output-file: PyContinuity
          prefer-source-code: true
          output-dir: dist
          windows-icon-from-ico: logo/logo.ico

      - name: Create zip of the app
        run: |
          cd dist/start.dist
          7z a -tzip ../../PyContinuity_windows.zip *

      - uses: actions/upload-artifact@v4
        with:
          name: PyContinuity_windows
          path: PyContinuity_windows.zip

  build-mac:
    if: contains(github.event.head_commit.message, '#build') || contains(github.event.head_commit.message, '#osx') || github.event.inputs.run_mac_build == 'true' || github.event.inputs.all_build == 'true'
    name: MacOS Build
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install gobject-introspection
        run: brew install gobject-introspection

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: requirements/Osx/requirements.txt

      - name: Install requirements
        run: |
          pip install -r requirements/Osx/requirements.txt

      - name: Install ccache
        run: |
          brew install ccache

      - name: Build with Nuitka
        uses: Nuitka/Nuitka-Action@main
        with:
          script-name: start.py
          output-file: PyContinuity
          output-dir: dist
          mode: app
          prefer-source-code: true
          macos-app-icon: logo/logo.icns
          macos-app-protected-resource: |
            NSInputMonitoringUsageDescription:This application needs access to input monitoring to interact with other applications.
            NSAccessibilityUsageDescription:This application needs access to accessibility to interact with other applications.
          product-name: PyContinuity

      - name: Rename directory
        run: |
          mv dist/start.app dist/PyContinuity.app

      - name: Decode and import certificate
        env:
          MAC_CERTIFICATE: ${{ secrets.CERTIFICATE }}
          MAC_CERTIFICATE_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}
        run: |
          echo "$MAC_CERTIFICATE" | base64 --decode > certificate.p12
          security create-keychain -p "action" build.keychain
          security import certificate.p12 -k build.keychain -P "$MAC_CERTIFICATE_PASSWORD" -T /usr/bin/codesign
          security list-keychains -s build.keychain
          security unlock-keychain -p "action" build.keychain
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k "action" build.keychain

      - name: Change permissions
        run: chmod +x dist/PyContinuity.app/Contents/MacOS/*

      - name: Sign the app
        run: |
          codesign --deep --force --verify --verbose --sign "PyContinuity" dist/PyContinuity.app

      - uses: actions/upload-artifact@v4
        with:
          name: PyContinuity_macos
          path: dist/PyContinuity.app

  create-tag:
    name: Create Tag
    runs-on: ubuntu-latest
    needs: [build-windows, build-mac]
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get latest tag
        id: get_latest_tag
        uses: actions/github-script@v6
        with:
          script: |
            const tags = await github.rest.repos.listTags({
              owner: context.repo.owner,
              repo: context.repo.repo,
              per_page: 1
            });
            if (tags.data.length === 0) {
              // Nessun tag esistente, partiamo da v0.0.1
              return { tag_name: 'v0.0.1', version: '0.0.1' };
            }
            const latestTag = tags.data[0].name;
            return { tag_name: latestTag, version: latestTag.replace('v', '') };

      - name: Calculate new version
        id: calc_version
        run: |
          echo "old_version=${{ steps.get_latest_tag.outputs.version }}" >> $GITHUB_OUTPUT
          IFS='.' read -ra ver_split <<< "${{ steps.get_latest_tag.outputs.version }}"
          major="${ver_split[0]}"
          minor="${ver_split[1]}"
          patch="${ver_split[2]}"

          new_patch=$((patch + 1))
          new_version="${major}.${minor}.${new_patch}"

          echo "new_version=$new_version" >> $GITHUB_OUTPUT

      - name: Create new tag
        id: create_tag
        uses: actions/github-script@v6
        with:
          script: |
            const newVersion = process.env.NEW_VERSION;
            const ref = `refs/tags/v${newVersion}`;
            const sha = context.sha;
            await github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: ref,
              sha: sha
            });
            core.notice(`Created new tag: v${newVersion}`);
        env:
          NEW_VERSION: ${{ steps.calc_version.outputs.new_version }}