name: Win64 Build

on:
  push:
    branches: dev

jobs:
  build-windows:
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.11'
          architecture: 'x64'
      - name: Install requirements
        run: |
          pip install -r requirements.txt
      - name: Run PyInstaller
        run: |
          python -m PyInstaller --windowed --onefile gui.py

      - name: Build rename
        run: |
          ls -l
          echo "Renaming build"
          mv dist/*.exe PyContinuity.exe
          ls -l
          
      - uses: actions/upload-artifact@v4
        with:
          name: PyContinuity_win64
          path: dist/PyContinuity.exe
