name: Dev Build

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'Forced build'
      all_build:
        description: 'Complete build'
        required: true
        default: 'false'
        type: boolean
      run_windows_build:
        description: 'Windows Build'
        required: true
        default: 'false'
        type: boolean
      run_mac_build:
        description: 'OSX Build'
        required: true
        default: 'false'
        type: boolean
  push:
    branches:
      - dev
    paths-ignore:
      - '.github/**'

jobs:
  build-windows:
    if: contains(github.event.head_commit.message, '#build') || contains(github.event.head_commit.message, '#win') || github.event.inputs.run_windows_build == 'true' || github.event.inputs.all_build == 'true'
    name: Windows Build
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: requirements/Win/requirements.txt
      - name: Install requirements
        run: pip install -r requirements/Win/requirements.txt
      - name: Build with Nuitka
        uses: Nuitka/Nuitka-Action@main
        with:
          script-name: start.py
          mode: standalone
          output-filename: PyContinuity
          output-dir: dist
          windows-icon-from-ico: logo/logo.ico
      - name: Create zip of the app
        run: |
          cd dist/start.dist
          7z a -tzip ../../PyContinuity_windows.zip *
      - uses: actions/upload-artifact@v4
        with:
          name: PyContinuity_windows
          path: PyContinuity_windows.zip

  build-mac:
    if: contains(github.event.head_commit.message, '#build') || contains(github.event.head_commit.message, '#osx') || github.event.inputs.run_mac_build == 'true' || github.event.inputs.all_build == 'true'
    name: MacOSX (silicon) Build
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install gobject-introspection
        run: brew install gobject-introspection
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: requirements/Osx/requirements.txt
      - name: Install requirements
        run: |
          pip install -r requirements/Osx/requirements.txt
          pip install nuitka
      - name: Install ccache
        run: |
          brew install ccache
      - name: Build app
        run: |
          nuitka --standalone \
            --macos-app-icon=logo/logo.icns \
            --follow-imports \
            --output-dir=dist \
            --macos-create-app-bundle \
            --disable-console \
            --output-filename=PyContinuity \
            --macos-app-protected-resource="NSInputMonitoringUsageDescription:This application needs access to input monitoring to interact with other applications." \
            --macos-app-protected-resource="NSAccessibilityUsageDescription:This application needs access to accessibility to interact with other applications." \
            --product-name="PyContinuity" \
            -o PyContinuity \
            start.py
          
            mv dist/start.app dist/PyContinuity.app

      - name: Decode and import certificate
        env:
          MAC_CERTIFICATE: ${{ secrets.CERTIFICATE }}
          MAC_CERTIFICATE_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}
        run: |
          echo "$MAC_CERTIFICATE" | base64 --decode > certificate.p12
          security create-keychain -p "action" build.keychain
          security import certificate.p12 -k build.keychain -P "$MAC_CERTIFICATE_PASSWORD" -T /usr/bin/codesign
          security list-keychains -s build.keychain
          security unlock-keychain -p "action" build.keychain
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k "action" build.keychain
      - name: Change permissions
        run: chmod +x dist/PyContinuity.app/Contents/MacOS/*

      - name: Sign the app
        run: |
          codesign --deep --force --verify --verbose --sign "PyContinuity" dist/PyContinuity.app

      - name: Create tarball of the app
        run: tar -czvf "PyContinuity_macos(silicon).tar.gz" -C dist PyContinuity.app

      - uses: actions/upload-artifact@v4
        with:
          name: PyContinuity_macos(silicon)
          path: PyContinuity_macos(silicon).tar.gz